@import "../../scss/app.variables.scss";

.app-header{
  width: 100%;
  height: 18vh;
  margin:20px 0px;
  padding:0px 20px;
  .app-dynamic-header{
      display:flex;
      justify-content:space-between;
      align-items:center;
      border:1px solid #606060;
      padding:8px 20px;
      border-radius:30px;
      background:#1F1F1F;
      .icon{
          font-size:24px;
          max-width:22px;
          color:#CCCCCC;
      }
      .title{
          font-size:18px!important;
          font-weight:500;
      }
      &.messageDetailPart{
          border-radius:40px;
          border:none;
          .phone{
              color:#007EF4;
          }
          .title{
              display:flex;
              flex-direction:column;
              align-items:center;
              justify-content:center;
              font-weight:400;
              .name{

              }
              .status{
                  color:#CCCCCC;
                  font-size:$f-size--1;
                  display:flex;
                  align-items:center;
                  justify-content:center;
                  .online-badge{
                      display:none;
                      &.active{
                          display:inline-block;
                          width:14px;
                          height:14px;
                          background-color:#007EF4;
                          position:relative;
                          border-radius:50%;
                          margin-right:5px;
                      }
                  }
              }
          }
      }
  }
}
