<div class="app-tabs">
    <ul class="home-tab-list">
        <li>
            <span>
                <i class="fa fa-phone"></i>
            </span>
        </li>
        <li>
            <span>
                <i class="fa fa-camera"></i>
            </span>
        </li>
        <li class="active">
            <span>
                <i class="fa fa-whatsapp"></i>
            </span>
        </li>
        <li>
            <span>
                <i class="fa fa-users"></i>
            </span>
        </li>
    </ul>
</div>
